body {
  background-color: #00A2D6;
}

h1, th, tr{
  font-family: 'Baloo Bhai', sans-serif;
}

h1 {
  font-size: 45px;
  color: #F5E528;
}

th {
  font-size: 30px;
  color: #5E3FD5;
}

tr {
  font-size: 25px;
}

.center {
  position: fixed;
  text-align: center;
  vertical-align: middle;
  padding: 10%;
  width: 80%
}
